<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-12 col-sm-12 col-md-6" style="margin-top: 1rem;">
            <div class="card" style="border-radius: 1rem; color: #807d77;">
                <div class="card-body">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                        <div class="form-group text-center" style="color: #807d77; margin-bottom: 2rem; margin-top: 1rem;">
                          <h4>EDITAR PERFIL</h4>
                        </div>
                        <div class="form-group">
                          <%= render "admins/shared/error_messages", resource: resource %>
                        </div>
                        <div class="form-group">
                            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control text-center", style: "border-radius: 1rem; color: #807d77; margin-bottom: 2rem;", placeholder: "NOMBRES", required: "true" %>
                        </div>
                        <div class="form-group">
                            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control text-center", style: "border-radius: 1rem; color: #807d77; margin-bottom: 2rem;", placeholder: "APELLIDOS", required: "true" %>
                        </div>
                        <div class="form-group">
                          <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control text-center", style: "border-radius: 1rem; color: #807d77; margin-bottom: 2rem;", placeholder: "CORREO", required: "true" %>
                        </div>
                        <div class="form-group">
                          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                          <% end %>
                        </div>
                        <div class="form-group">
                          <i>(dejar en blanco si no se cambiará la contraseña)</i>
                          <%= f.password_field :password, autocomplete: "new-password", class: "form-control text-center", style: "border-radius: 1rem; color: #807d77;", placeholder: "NUEVA CONTRASEÑA" %>
                          <% if @minimum_password_length %>
                            <em>mínimo <%= @minimum_password_length %> caracteres</em>
                          <% end %>
                        </div>

                        <div class="form-group">
                          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control text-center", style: "border-radius: 1rem; color: #807d77;", placeholder: "CONFIRMACIÓN NUEVA CONTRASEÑA" %>
                        </div>


                        <div class="form-group">
                          <i>(Nesecitamos tu contraseña para confirmar los cambios)</i>
                          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control text-center", style: "border-radius: 1rem; color: #807d77;", placeholder: "CONTRASEÑA", required: "true" %>
                        </div>
                        <%= f.submit "ACTUALIZAR PERFIL", class: "form-control text-center", value: "ACTUALIZAR PERFIL", style: "color: #807d77; border-radius: 1rem;" %>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12">
          <div class="form-group">
            <%= link_to "Back", :back %>
          </div>
        </div>
    </div>
</div>