<% @attendaces.each do |attendace|%>
  <tr>
    <th scope="row"><%= attendace.id%></th>
    <td><%= attendace.name%> </td>
    <td><%= attendace.lastname%> </td> 
    <td><%= attendace.position%> </td> 
    <td><%= attendace.date%> </td> 
    <td><%= attendace&.time&.strftime("%H:%M:%S")%> </td>
    <td><%= attendace.check_type%> </td> 
  </tr>
<%end%>
