<% time = Time.new %>
<div class="wrapper">
  <div class="card p-2 card-time text-center">
    <h1 class="clock-time" id="clock"><h1>
    <%= time.strftime("%Y-%m-%d") %>
  </div>
  <%= form_with(model: attendace) do |form| %>

    <div class="form-group input-attendance">
      <%= form.label :private_number %>
      <%= form.text_field :private_number, :class => "form-control" %>
    </div>

    <%= form.submit :class => "btn btn-info btn-block btn-lg"%>

  <% end %>
</div>

<script>
  let clock = document.getElementById("clock")
  
  setInterval(() => {
    let date = new Date()
    clock.innerHTML = date.toLocaleTimeString();
    console.log(date.toLocaleTimeString());
  },1000);
</script>