<p id="notice"><%= notice %></p>

<h1>Attendaces</h1>

<table>
  <thead>
    <tr>
      <th>Private number</th>
      <th>Date</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendaces.each do |attendace| %>
      <tr>
        <td><%= attendace.private_number %></td>
        <td><%= attendace.date %></td>
        <td><%= attendace.time %></td>
        <td><%= link_to 'Show', attendace %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendace', new_attendace_path %>
