<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-12 col-sm-12 col-md-4">
            <div class="card" style="border-radius: 1rem; color: #807d77;">
                <div class="card-body">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="form-group text-center" style="color: #807d77; margin-bottom: 2rem; margin-top: 2rem;">
                          <h4>RELOJ CHECADOR</h4>
                        </div>
                        <div class="form-group">
                          <%= render "admins/shared/error_messages", resource: resource %>
                        </div>
                        <div class="form-group">
                            <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control text-center", style: "border-radius: 1rem; color: #807d77; margin-bottom: 2rem;", placeholder: "CORREO", required: "true" %>
                        </div>
                        <div class="form-group">
                            <%= f.password_field :password, autocomplete: "current-password", class: "form-control text-center", style: "border-radius: 1rem; color: #807d77;", placeholder: "CONTRASEÑA", required: "true" %>
                        </div>
                        <% if devise_mapping.rememberable? %>
                          <div class="form-group">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                          </div>
                        <% end %>
                        <%= f.submit "Log in", class: "form-control text-center", value: "INICIAR SESION", style: "color: #807d77; border-radius: 1rem;" %>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12">
          <div class="form-group">
            <%= render "admins/shared/links" %>
          </div>
          <div class="form-group">
            <a href="<%= new_attendace_path %>" class="btn btn-light btn-sm">Home</a>
          </div>
        </div>
    </div>
</div>
