<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee.lastname %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employee.position %>
</p>

<p>
  <strong>Private number:</strong>
  <%= @employee.private_number %>
</p>

<p>
  <strong>Active:</strong>
  <%= @employee.active %>
</p>

<p>
  <strong>Company:</strong>
  <% company = @employee.company %>
  <a href="<%= company_path(company) %>"><%= company.name %></a>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
