<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="<%= welcome_path %>">CHECADOR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="attendaces_li">
                <a class="nav-link" href="<%= attendaces_path %>">ENTRADAS/SALIDAS</a>
            </li>            
            <li class="nav-item" id="companies_li">
                <a class="nav-link" href="<%= companies_path %>">SUCURSALES <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" id="employess_li">
                <a class="nav-link" href="<%= employees_path %>">EMPLEADOS</a>
            </li>
            <li class="nav-item dropdown" id="reports_li">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                INFORMES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="<%= reports_att_by_day_path %>">Attendance by day</a>
                <a class="dropdown-item" href="<%= reports_avg_time_by_employees_path %>">Average time employees checked in/out by month</a>
                <a class="dropdown-item" href="<%= reports_absence_by_month_path %>">Absence report by month</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav mr-md-1">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_admin&.name %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="<%= edit_admin_registration_path %>">Editar Perfil</a>
                    <%= button_to "Salir", destroy_admin_session_path, method: :delete, class: "dropdown-item"%>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div style="display: none">
    <input type="hidden" readonly="true" value="<%= controller.controller_name %>" id="controller_name">
</div>
<%= javascript_pack_tag 'layouts/navbar' %>
